spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: jdbc:postgresql://${DB_HOST:172.26.192.1}:${DB_PORT:5432}/${DB_NAME:detroitchow}
    username: ${DB_USER:detroitchow_owner}
    password: ${DB_PASSWORD:turner}
    driverClassName: org.postgresql.Driver
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      connection-timeout: 20000
      idle-timeout: 300000
      max-lifetime: 1200000
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
    show-sql: false
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
    enabled: false
    drop-first: false

logging:
  level:
    root: WARN
    com.detroitchow: INFO
    org.springframework.web: INFO

server:
  port: 8080
  compression:
    enabled: true
    min-response-size: 1024
